DATABASE_URL=数据库连接
SECRET_KEY=自定义
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=160
DEEPSEEK_API_KEY=key api
DEEPSEEK_BASE_URL=模型地址


LANGSMITH_TRACING=true
LANGSMITH_API_KEY=你的 langsmith apikey
LANGSMITH_PROJECT=fastPro 项目地址